body
{
  background-image: url("../nyr_background.jpg");
  background-position: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
}

#res
{
  width: 33%;
  margin: auto;
  background slategray;
  opacity: 0.25;
  color: whitesmoke;
  font-size: 18pt; 
}

#regen
{
  font-size: 14pt;
}
