body
{
  background-image: url("../nyr_background.jpg");
  background-position: top;
  background-size: cover;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  margin-top: 30px;
}

#res
{
  width: 50vw;
  max-width: 50vw;
  margin: auto;
  background: rgba(112, 128, 144, 0.25);
  color: whitesmoke;
  font-size: 7vh; 
}

#regen
{
  font-size: 5vh;
}

footer
{
    position: fixed;
    margin: auto auto 0 auto;
    text-align: center;
    font-size: 12pt;

    /*how to stretch full screen width, but never have a horizontal scrollbar*/
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /*************************************************************************/

    background-color: #000022;
    color: #6633ee;
}
